.detalleProducto {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 20px;
}

.detalleProducto img{
    width: 100%;
    height: 800px;
    padding: 20px;
}

.img {
    width: 60%;
}

.descripcion {
    text-align: center;
    width: 40%;
    font-size: 30px;
}

.descripcion h3{
    text-decoration: underline;
    margin-top: 40px;
    font-size: 35px;
}

.descripcion p {
    margin-top: 15px;
    font-size: 25px;
}

button {
    width: 50%;
}

span {
    font-weight: bold;
    color: red;
}