nav {
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, .2);
}

.navLogo img {
    width: 130px;
    height: 115px;
    border-radius: 100px;
    border: solid rgba(0, 0, 0, 0.031);
}

.nav-item {
    font-size:20px;
}

.navbar-nav{
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
}